<h1>Sign in page</h1>

<%= form_with(url:session_path, local:true) do |f| %>

<%=f.label :email_or_username%>
<%=f.text_field :email_or_username, autofocus:true%>

<%=f.label :password%>
<%=f.password_field :password%>

<%=f.submit "Sign in"%>

<%end%>

<%= link_to "Don't already have an account", new_user_path %>