<h1>
    Review for <%= link_to "#{@movie.title}", movie_path(@movie) %>
</h1>

<%= image_tag @movie.image_file_name %>

<%= form_with(model: [@movie, @review], local: true) do |f| %>

  <%= render "shared/errors", object: @review%>

  <%= f.label :stars %>
    <% Review::STARS.each do |star| %>
        <span class="star">
        <%= f.radio_button :stars, star %>
        <%= label_tag star %>
        </span>
    <% end %>

  <%= f.label :comment%>
  <%= f.text_area :comment ,rows:7%>
 
  

  <%= f.submit "Post Review" %>
<% end %>